<div class="animated fadeIn">
  <div
    bsModal
    #deleteModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          Do you want to delete this record?
        </div>
        <div class="modal-footer justify-content-around">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="deleteModal.hide()"
          >
            No! Cancel.
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="deleteProduct()"
          >
            Yes! Delete.
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    bsModal
    #areaModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit assigned areas</h4>
          <button
            type="button"
            class="close"
            (click)="myModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="areaForm" (ngSubmit)="AreaSubmit()">
            <div class="form-group">
              <label for="state">State</label>
              <select
                class="form-control"
                id="state"
                (change)="filterLGA($event)"
                ngModel
                name="state"
                formControlName="state"
              >
                <option value="" disabled selected hidden>Choose...</option>
                <option *ngFor="let item of States" value="{{ item.id }}">
                  {{ item.attributes.Name }}
                </option>
              </select>
            </div>
            <!-- <div class="form-group">
              <label for="lga">LGA</label>
              <select
                class="form-control"
                id="lga"
                (change)="filterArea($event)"
                ngModel
                name="lga"
                formControlName="lga"
              >
                <option value="" disabled selected hidden>Choose...</option>
                <option *ngFor="let item of LGA" value="{{ item.id }}">
                  {{ item.attributes.Name }}
                </option>
              </select>
            </div> -->
            <div class="form-group">
              <label for="agronomist_lgas">LGAs</label>
              <select
                class="form-control"
                id="agronomist_lgas"
                multiple
                required
                ngModel
                name="agronomist_lgas"
                formControlName="agronomist_lgas"
              >
                <option value="" disabled selected hidden>Choose...</option>
                <option *ngFor="let item of LGA" value="{{ item.id }}">
                  {{ item.attributes.Name }}
                </option>
              </select>
            </div>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="areaModal.hide()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary ml-2"
              [disabled]="btnLoading || !areaForm.valid"
            >
              <span
                *ngIf="btnLoading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Save changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div
      class="card-header"
      style="display: flex; justify-content: space-between"
    >
      <h2>User Details</h2>
      <span>
        <div>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            (click)="myModal.show()"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            (click)="deleteModal.show()"
          >
            Delete
          </button>
        </div>
      </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="row">
            <div style="display: flex; justify-content: space-between">
              <h4>Basic details</h4>
            </div>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>ID</td>
                  <td>{{ details?.id }}</td>
                </tr>
                <tr>
                  <td>Username</td>
                  <td>{{ details?.attributes?.username }}</td>
                </tr>
                <tr>
                  <td>Profile pic</td>
                  <td>
                    <a
                      href="https://indoramaapp.untanglestrategy.com{{
                        details?.attributes?.prof_pic?.data?.attributes?.url
                      }}"
                      target="_blank"
                      ><img
                        class="card-img-top"
                        style="width: 150px; height: 150px"
                        src="https://indoramaapp.untanglestrategy.com{{
                          details?.attributes?.prof_pic?.data?.attributes?.url
                        }}"
                        alt="No image found"
                    /></a>
                    <div style="display: flex">
                      <input
                        type="file"
                        class="form-control"
                        id="prof_pic"
                        style="width: 250px"
                        accept=".jpg,.jpeg,.JPEG,.png"
                        name="prof_pic"
                        (change)="onChange($event)"
                        placeholder="Choose image"
                      />
                      <button
                        type="button"
                        class="btn btn-outline-primary"
                        data-toggle="modal"
                        (click)="uploadProfPic()"
                      >
                        Upload
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>
                    {{ details?.attributes?.Name }}
                  </td>
                </tr>
                <tr>
                  <td>Contact number</td>
                  <td>{{ details?.attributes?.ContactNumber }}</td>
                </tr>
                <tr>
                  <td>User type</td>
                  <td>{{ details?.attributes?.UserType }}</td>
                </tr>
                <!-- <tr>
                  <td>Email</td>
                  <td>
                    {{ details?.attributes?.email }}
                  </td>
                </tr> -->
                <tr>
                  <td>Village</td>
                  <td>
                    {{ details?.attributes?.village?.data?.attributes?.Name }}
                  </td>
                </tr>

                <tr>
                  <td>LGA</td>
                  <td>{{ details?.attributes?.lga?.data?.attributes.Name }}</td>
                </tr>
                <tr>
                  <td>State</td>
                  <td>
                    {{
                      details?.attributes?.lga?.data?.attributes?.state?.data
                        ?.attributes?.Name
                    }}
                  </td>
                </tr>
                <!-- <tr>
                  <td>Retailer Category</td>
                  <td>
                    {{
                    details?.attributes?.retailer_categories?.data[0]?.attributes?.CategoryName
                    }}
                  </td>
                </tr>
                <tr>
                  <td>Bio</td>
                  <td style="width: 60%">{{ details?.attributes?.Bio }}</td>
                </tr> -->
                <tr>
                  <td>Created at</td>
                  <td>{{ dateConvertor(details?.attributes?.createdAt) }}</td>
                </tr>
                <tr>
                  <td>Last updated</td>
                  <td>{{ dateConvertor(details?.attributes?.updatedAt) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="dispArea" class="col">
          <div style="display: flex; justify-content: space-between">
            <h4>LGAs assigned</h4>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              (click)="areaModal.show()"
            >
              Edit LGAs
            </button>
          </div>
          <ul>
            <li *ngFor="let item of agronomists">
              {{ item?.attributes?.Name }}
            </li>
          </ul>
        </div>
      </div>
      <div
        bsModal
        #myModal="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit details</h4>
              <button
                type="button"
                class="close"
                (click)="myModal.hide()"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="agentForm" (ngSubmit)="FormSubmit()">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="Name">Name<span class="danger">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        id="Name"
                        name="Name"
                        formControlName="Name"
                        placeholder="Enter Name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="market">Contact Number<span class="danger">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        id="ContactNumber"
                        name="ContactNumber"
                        formControlName="ContactNumber"
                        placeholder="Enter contact number"
                      />
                    </div>
                    <!-- <div class="form-group">
                      <label for="email">email</label>
                      <input
                        type="text"
                        class="form-control"
                        id="email"
                        name="email"
                        formControlName="email"
                        placeholder="Enter email"
                      />
                    </div> -->
                    <div class="form-group">
                      <label for="UserType">User type<span class="danger">*</span></label>
                      <select
                        class="form-control"
                        id="UserType"
                        required
                        ngModel
                        name="UserType"
                        formControlName="UserType"
                      >
                        <option value="" disabled selected hidden>
                          Choose...
                        </option>
                        <option value="Farmer">Farmer</option>
                        <option value="Retailer">Retailer</option>
                        <option value="Agronomist">Agronomist</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Bio">Bio</label>
                      <textarea
                        class="form-control"
                        id="Bio"
                        name="Bio"
                        formControlName="Bio"
                        placeholder="Enter Bio"
                      ></textarea>
                    </div>
                    <!-- <div class="form-check">
                      <input class="form-check-input" type="checkbox" ngModel name="blocked"
                        formControlName="blocked" id="blocked">
                      <label class="form-check-label" for="blocked">
                        Blocked
                      </label>
                    </div> -->
                    <!-- <div class="form-group">
                      <label for="blocked">Active status</label>
                      <input class="form-control" type="checkbox" id="blocked" required ngModel name="blocked"
                        formControlName="blocked" />
                    </div> -->
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="state">State<span class="danger">*</span></label>
                      <select
                        class="form-control"
                        id="state"
                        (change)="filterLGA($event)"
                        required
                        ngModel
                        name="state"
                        formControlName="state"
                      >
                        <option value="" disabled selected hidden>
                          Choose...
                        </option>
                        <option
                          *ngFor="let item of States"
                          value="{{ item.id }}"
                        >
                          {{ item.attributes.Name }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="lga">LGA<span class="danger">*</span></label>
                      <select
                        class="form-control"
                        id="lga"
                        (change)="filterVillage($event)"
                        required
                        ngModel
                        name="lga"
                        formControlName="lga"
                      >
                        <option value="" disabled selected hidden>
                          Choose...
                        </option>
                        <option *ngFor="let item of LGA" value="{{ item.id }}">
                          {{ item.attributes.Name }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="village">Village<span class="danger">*</span></label>
                      <select
                        class="form-control"
                        id="village"
                        required
                        ngModel
                        name="village"
                        formControlName="village"
                      >
                        <option value="" disabled selected hidden>
                          Choose...
                        </option>
                        <option
                          *ngFor="let item of Villages"
                          value="{{ item.id }}"
                        >
                          {{ item.attributes.Name }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Latitude">Latitude</label>
                      <input
                        type="text"
                        class="form-control"
                        id="Latitude"
                        name="Latitude"
                        formControlName="Latitude"
                        placeholder="Enter Latitude"
                      />
                    </div>
                    <div class="form-group">
                      <label for="Longitude">Longitude</label>
                      <input
                        class="form-control"
                        id="Longitude"
                        ngModel
                        name="Longitude"
                        formControlName="Longitude"
                        placeholder="Enter Longitude"
                      />
                    </div>
                    <div class="form-group">
                      <label for="blocked">Status<span class="danger">*</span></label>
                      <select
                        class="form-control"
                        id="blocked"
                        ngModel
                        name="blocked"
                        formControlName="blocked"
                      >
                        <option value="" disabled selected hidden>
                          Choose...
                        </option>
                        <option value="true">Blocked</option>
                        <option value="false">Active</option>
                      </select>
                    </div>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="myModal.hide()"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary ml-2"
                      [disabled]="btnLoading || !agentForm.valid"
                    >
                      <span
                        *ngIf="btnLoading"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Save changes
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        bsModal
        #resultModal="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="resultModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit product</h4>
              <button
                type="button"
                class="close"
                (click)="resultModal.hide()"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="resultForm" (ngSubmit)="ResultSubmit()">
                <div class="form-group">
                  <label for="id">ID</label>
                  <input
                    type="text"
                    class="form-control"
                    id="soil_test_sample"
                    disabled="true"
                    name="id"
                    formControlName="id"
                  />
                </div>
                <div class="form-group">
                  <label for="itemName">Item name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="itemName"
                    name="itemName"
                    formControlName="itemName"
                  />
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input
                    type="text"
                    class="form-control"
                    id="price"
                    name="price"
                    formControlName="price"
                    placeholder="Enter value"
                  />
                </div>
                <div class="form-group">
                  <label for="unit">Unit</label>
                  <input
                    type="text"
                    class="form-control"
                    id="unit"
                    name="unit"
                    formControlName="unit"
                    placeholder="Enter value"
                  />
                </div>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="resultModal.hide()"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary ml-2"
                  [disabled]="btnLoading"
                >
                  <span
                    *ngIf="btnLoading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Save changes
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        bsModal
        #addProductModal="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="productModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add product</h4>
              <button
                type="button"
                class="close"
                (click)="addProductModal.hide()"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="productForm" (ngSubmit)="ProductSubmit()">
                <div class="form-group">
                  <label for="itemName">Item name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="itemName"
                    name="itemName"
                    formControlName="itemName"
                  />
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input
                    type="text"
                    class="form-control"
                    id="price"
                    name="price"
                    formControlName="price"
                    placeholder="Enter value"
                  />
                </div>
                <div class="form-group">
                  <label for="unit">Unit</label>
                  <input
                    type="text"
                    class="form-control"
                    id="unit"
                    name="unit"
                    formControlName="unit"
                    placeholder="Enter value"
                  />
                </div>
                <div class="form-group">
                  <label for="Image">Image</label>
                  <input
                    type="file"
                    class="form-control"
                    id="Image"
                    accept=".jpg,.jpeg,.JPEG,.png"
                    name="Image"
                    (change)="onChange($event)"
                    formControlName="Image"
                    placeholder="Choose image"
                  />
                </div>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="addProductModal.hide()"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary ml-2"
                  [disabled]="btnLoading || !productForm.valid"
                >
                  <span
                    *ngIf="btnLoading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Save changes
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
