<div class="animated fadeIn">
  <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          Do you want to delete this Farm Demo?
        </div>
        <div class="modal-footer justify-content-around">
          <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">
            No! Cancel.
          </button>
          <button type="button" class="btn btn-primary" (click)="deleteActivity()">
            Yes! Delete.
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" style="display: flex; justify-content: space-between">
      <h2>Farm Demo Details</h2>
      <span>
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="myModal.show()">
          Edit
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" (click)="deleteModal.show()">
          Delete
        </button>
      </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>ID</td>
                <td>FHTY{{ details?.id }}</td>
              </tr>
              <tr>
                <td>Farmer Name</td>
                <td>{{ details?.attributes?.Farmer }}</td>
              </tr>
              <tr>
                <td>State</td>
                <td>{{ details?.attributes?.state?.data?.attributes?.Name }}</td>
              </tr>
              <tr>
                <td>LGA</td>
                <td>{{ details?.attributes?.lgas?.data?.attributes?.Name }}</td>
              </tr>
              <tr></tr>
              <tr>
                <td>Crop</td>
                <td>{{ details?.attributes?.crop?.data?.attributes?.Name }}</td>
              </tr>
              <tr>
                <td>Map URL</td>
                <td>
                  <a href="{{ maplink }}" target="_blank">Click here to view location</a>
                </td>
              </tr>
              <tr>
                <td>Area of Field</td>
                <td>{{ details?.attributes?.AreaOfField }} hectares</td>
              </tr>
              <tr>
                <td>Pesticides used?</td>
                <td>{{ details?.attributes?.isPesticidesUsed }}</td>
              </tr>
              <tr>
                <td>Created on</td>
                <td>{{ dateConverter(details?.attributes?.createdAt) }}</td>
              </tr>
              <tr>
                <td>Date of Harvesting</td>
                <td>
                  {{ dateConverter(details?.attributes?.DateOfHarvesting) }}
                </td>
              </tr>
              <tr>
                <td>Season</td>
                <td>{{ details?.attributes?.Season }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  <span class="badge">{{ details?.attributes?.Status }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <h3>Gallery</h3>
          <div class="images">
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
              <input type="file" class="form-control" id="prof_pic" accept=".jpg,.jpeg,.JPEG,.png" name="prof_pic"
                (change)="onChange($event)" placeholder="Choose image" />
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="uploadPic()">
                Upload
              </button>
            </div>
            <div *ngFor="let item of details?.attributes?.Images.data">
              <img src="http://13.89.242.79{{ item.attributes.url }}" (click)="showImages(item.attributes.url)" alt=""
                style="height: 100px; width: 200px; padding-left: 5px; padding-right: 5px;" />
              <button type="button" class="btn btn-outline-danger" data-toggle="modal" (click)="removePic(item)">
                Delete
              </button>
            </div>
          </div>
          <div id="image-viewer">
            <span class="close">&times;</span>
            <img class="modal-content-1" id="full-image" src="{{ fullImage }}" />
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Farmer Practice</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Date of Sowing</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.FarmerPractise?.DateOfSowing
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Date of Demonstration</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.FarmerPractise?.DateOfDemonstration
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>First Urea Application</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.FarmerPractise?.FirstUreaApplication
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Second Urea Application</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.FarmerPractise?.SecondUreaApplication
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Yield</td>
                    <td>
                      {{ details?.attributes?.FarmerPractise?.Yield }} tons
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Indorama Best Practice</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Date of Sowing</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.IndoramaPractise?.DateOfSowing
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Date of Demonstration</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.IndoramaPractise?.DateOfDemonstration
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>First Urea Application</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.IndoramaPractise?.FirstUreaApplication
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Second Urea Application</td>
                    <td>
                      {{
                        dateConverterMin(
                      details?.attributes?.IndoramaPractise?.SecondUreaApplication
                      )
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Yield</td>
                    <td>
                      {{ details?.attributes?.IndoramaPractise?.Yield }} tons
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <span class="badge">
                <h5 class="m-1">
                  Yield : {{ details?.attributes?.IndoramaPractise?.Yield }} tons
                </h5>
              </span> -->
            </div>
          </div>
          <div class="badge badge-success">
            <h5 class="m-1">
              Impact on crop Yield : {{ impactYield }} % Increase
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Farm Demo</h4>
            <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="editForm" (ngSubmit)="FormSubmit()">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="Farmer">Farmer Name</label>
                    <input type="text" class="form-control" id="Farmer" name="Farmer" formControlName="Farmer"
                      placeholder="Enter farmer name" />
                  </div>
                  <div class="form-group">
                    <label for="Crops">Crops</label>
                    <select class="form-control" id="Crops" required ngModel name="Crops" formControlName="Crops">
                      <option value="" disabled selected hidden>
                        Choose...
                      </option>
                      <option *ngFor="let item of Crops" value="{{ item.id }}">
                        {{ item.attributes.Name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" id="state" required ngModel (change)="filterLGA($event)" name="state" formControlName="state">
                      <option value="" disabled selected hidden>
                        Choose...
                      </option>
                      <option *ngFor="let item of States" value="{{ item.id }}">
                        {{ item.attributes.Name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="lga">LGA</label>
                    <select class="form-control" id="lga" required ngModel name="lga" formControlName="lga">
                      <option value="" disabled selected hidden>
                        Choose...
                      </option>
                      <option *ngFor="let item of LGA" value="{{ item.id }}">
                        {{ item.attributes.Name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Status">Status</label>
                    <select class="form-control" id="Status" required ngModel name="Status" formControlName="Status">
                      <option value="" disabled selected hidden>
                        Choose...
                      </option>
                      <option value="COMPLETED">COMPLETED</option>
                      <option value="ONGOING">ONGOING</option>
                      <option value="CANCELLED">CANCELLED</option>
                    </select>
                  </div>
                  <h6>Farmer practices</h6>
                  <div class="form-group">
                    <label for="DateOfSowing_F">Date of Sowing</label>
                    <input type="date" class="form-control" id="DateOfSowing_F" name="DateOfSowing_F"
                      formControlName="DateOfSowing_F" />
                  </div>
                  <div class="form-group">
                    <label for="DateOfDemonstration_F">Date of Demonstration</label>
                    <input type="date" class="form-control" id="DateOfDemonstration_F" name="DateOfDemonstration_F"
                      formControlName="DateOfDemonstration_F" />
                  </div>
                  <div class="form-group">
                    <label for="FirstUreaApplication_F">First Urea Application</label>
                    <input type="date" class="form-control" id="FirstUreaApplication_F" name="FirstUreaApplication_F"
                      formControlName="FirstUreaApplication_F" />
                  </div>
                  <div class="form-group">
                    <label for="SecondUreaApplication_F">Second Urea Application</label>
                    <input type="date" class="form-control" id="SecondUreaApplication_F" name="SecondUreaApplication_F"
                      formControlName="SecondUreaApplication_F" />
                  </div>
                  <div class="form-group">
                    <label for="Yield_F">Yield</label>
                    <input type="text" class="form-control" id="Yield_F" name="Yield_F" formControlName="Yield_F" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="Season">Season</label>
                    <input type="text" class="form-control" id="Season" name="Season" formControlName="Season"
                      placeholder="Enter Season name" />
                  </div>
                  <div class="form-group">
                    <label for="AreaOfField">Area of field</label>
                    <input type="text" class="form-control" id="AreaOfField" name="AreaOfField"
                      formControlName="AreaOfField" placeholder="Enter area" />
                  </div>
                  <div class="form-group">
                    <label for="FarmLocationLatitude">Farm Location Latitude</label>
                    <input type="text" class="form-control" id="FarmLocationLatitude" name="FarmLocationLatitude"
                      formControlName="FarmLocationLatitude" placeholder="Enter Farm Location Latitude" />
                  </div>
                  <div class="form-group">
                    <label for="FarmLocationLongitude">FarmLocationLongitude</label>
                    <input type="text" class="form-control" id="FarmLocationLongitude" name="FarmLocationLongitude"
                      formControlName="FarmLocationLongitude" placeholder="Enter Farm Location Longitude" />
                  </div>
                  <div class="form-group">
                    <label for="isPesticidesUsed">Pesticides used?</label>
                    <select class="form-control" id="isPesticidesUsed" required ngModel name="isPesticidesUsed"
                      formControlName="isPesticidesUsed">
                      <option value="" disabled selected hidden>
                        Choose...
                      </option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                  <h6>Indorama Best practices</h6>
                  <div class="form-group">
                    <label for="DateOfSowing_I">Date of Sowing</label>
                    <input type="date" class="form-control" id="DateOfSowing_I" name="DateOfSowing_I"
                      formControlName="DateOfSowing_I" />
                  </div>
                  <div class="form-group">
                    <label for="DateOfDemonstration_I">Date of Demonstration</label>
                    <input type="date" class="form-control" id="DateOfDemonstration_I" name="DateOfDemonstration_I"
                      formControlName="DateOfDemonstration_I" />
                  </div>
                  <div class="form-group">
                    <label for="FirstUreaApplication_I">First Urea Application</label>
                    <input type="date" class="form-control" id="FirstUreaApplication_I" name="FirstUreaApplication_I"
                      formControlName="FirstUreaApplication_I" />
                  </div>
                  <div class="form-group">
                    <label for="SecondUreaApplication_I">Second Urea Application</label>
                    <input type="date" class="form-control" id="SecondUreaApplication_I" name="SecondUreaApplication_I"
                      formControlName="SecondUreaApplication_I" />
                  </div>
                  <div class="form-group">
                    <label for="Yield_I">Yield</label>
                    <input type="text" class="form-control" id="Yield_I" name="Yield_I" formControlName="Yield_I" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="DateOfHarvesting">Date of Harvest</label>
                <input type="date" class="form-control" id="DateOfHarvesting" name="DateOfHarvesting"
                  formControlName="DateOfHarvesting" />
              </div>
              <button type="button" class="btn btn-secondary" (click)="myModal.hide()">
                Close
              </button>
              <button type="submit" class="btn btn-primary ml-2" [disabled]="btnLoading || !editForm.valid">
                <span *ngIf="btnLoading" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                Save changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>