<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="display: flex; justify-content: space-between">
      <h2>Add New Survey</h2>
      <span>
        <div>
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="myModal.show()">
            Create Survey
          </button>
          <!-- <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          (click)="deleteModal.show()"
        >
          Delete
        </button> -->
        </div>
      </span>
    </div>
    <div class="card-body">
      <div class="row">
        <form [formGroup]="addForm" (ngSubmit)="FormSubmit()" style="width: 100%;">
          <div class="form-group">
            <label for="title">Survey Title</label>
            <input type="text" class="form-control" id="title" name="title" formControlName="title"
              placeholder="Enter survey title" />
          </div>
          <div class="form-group">
            <label for="title">Survey Description</label>
            <textarea type="text" class="form-control" rows="4" id="description" name="description"
              formControlName="description" placeholder="Enter survey description"></textarea>
          </div>
          <h6>Survey Questions</h6>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div style="display: flex; justify-content: space-between">
                    <h5 class="card-title">What is your category?</h5>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal">
                      Delete
                    </button>
                  </div>
                  <p class="card-text">
                    Question type : Dropdown
                  </p>
                  <p class="card-text">
                    Required : True
                  </p>
                  <p class="card-text">
                    Options : <span class="badge badge-success">Farmer</span> <span
                      class="badge badge-success">Retailer</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="title">Question</label>
                <input type="text" class="form-control" id="question" name="question" formControlName="question"
                  placeholder="Enter your question">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="title">Question type</label>
                <select class="form-control" id="question_type" name="question_type" formControlName="question_type">
                  <option value="" disabled selected hidden>
                    Choose...
                  </option>
                  <option value="text">Text</option>
                  <option value="dropdown">Dropdown</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="title">Field type</label>
                <select class="form-control" id="question_type" name="question_type" formControlName="question_type">
                  <option value="" disabled selected hidden>
                    Choose...
                  </option>
                  <option value="long">Long</option>
                  <option value="short">Short</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="title">Options</label>
                <input type="text" class="form-control" id="question" name="question" formControlName="question"
                  placeholder="Enter options seperated by comma ( , )">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Required field</label>
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary ml-2">
            <span *ngIf="btnLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Add question
          </button>
        </form>
      </div>
    </div>
  </div>
</div>