<div class="animated fadeIn">
  <div class="card">
    <div
      class="card-header"
      style="display: flex; justify-content: space-between"
    >
      <h2>SMS Campaigns</h2>
      <div>
        <button
            type="button"
            class="btn btn-outline-primary"
            data-toggle="modal"
            (click)="downloadExcel()"
          >
            Download excel
          </button>
        <!-- <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          [disabled]="disableButton"
          (click)="openModal()"
        >
          Delete
        </button> -->
        <!-- <button type="button" [disabled]="disableButton" class="btn btn-info" data-toggle="modal"
          (click)="openModal('Edit')">
          Edit
        </button> -->
        <button
          type="button"
          [disabled]="!disableButton"
          class="btn btn-primary"
          data-toggle="modal"
          (click)="openModal()"
        >
          Create new campaign
        </button>
      </div>
    </div>
    <!-- <p class="text-muted mx-3">
      To approve a crop price simply select and edit the record without
      modifying the data
    </p> -->
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <ag-grid-angular
            #agGrid
            style="width: 100%; height: 65vh"
            id="myGrid"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            animateRows="true"
          >
          </ag-grid-angular>
          <span class="float-left mt-3">{{from}} to {{to}}  of {{meta?.pagination?.total}}</span>
          <button
            type="button"
            [disabled]="disableNextButton"
            class="btn btn-primary float-right m-2"
            (click)="loadNext()"
          >
            Next
          </button>
          <span class="float-right mt-3"
            >Page {{ meta?.pagination?.page }} of
            {{ meta?.pagination?.pageCount }}</span
          >
          <button
            type="button"
            [disabled]="disablePrevButton"
            class="btn btn-primary float-right m-2"
            (click)="loadPrev()"
          >
            Prev
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #messageModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Campaign</h4>
        <button
          type="button"
          class="close"
          (click)="messageModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="switch">
                  <input
                    type="checkbox"
                    id="isAllFarmers"
                    maxlength="160"
                    name="isAllFarmers"
                    formControlName="isAllFarmers"
                  />
                  <div class="slider round">
                    <span class="on">Filter</span>
                    <span class="off">All</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="messageForm.value?.isAllFarmers" class="row">
            <div class="col">
              <div class="form-group">
                <label for="state">State</label>
                <select
                  class="form-control"
                  id="state"
                  ngModel
                  (change)="filterLGA($event)"
                  name="state"
                  formControlName="state"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option *ngFor="let item of States" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="area">City</label>
                <select
                  class="form-control"
                  id="area"
                  ngModel
                  (change)="filterVillage($event)"
                  name="area"
                  formControlName="area"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option *ngFor="let item of Areas" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lga">LGA</label>
                <select
                  class="form-control"
                  id="lga"
                  ngModel
                  (change)="filterArea($event)"
                  name="lga"
                  formControlName="lga"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option *ngFor="let item of LGA" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="village">Village</label>
                <select
                  class="form-control"
                  id="village"
                  ngModel
                  name="village"
                  formControlName="village"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option *ngFor="let item of Villages" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="form-group">Farmers selected : {{ NoOfContacts }}</div>
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="clearSearch()"
            >
              Clear
            </button>
            <button
              type="button"
              class="btn btn-primary ml-2"
              (click)="getUsers()"
            >
              <span
                *ngIf="btnLoading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Search
            </button>
          </div> -->
          <div class="form-group">
            <label for="name">Message body</label>
            <textarea
              rows="5"
              class="form-control"
              id="message"
              maxlength="160"
              name="message"
              formControlName="message"
              placeholder="Max 160 characters"
            ></textarea>
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="messageModal.hide()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary ml-2"
            [disabled]="btnLoading || !messageForm.valid"
          >
            <span
              *ngIf="btnLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Create
          </button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
