<div class="animated fadeIn">
  <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          Do you want to delete this activity?
        </div>
        <div class="modal-footer justify-content-around">
          <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">
            No! Cancel.
          </button>
          <button type="button" class="btn btn-primary" (click)="deleteActivity()">
            Yes! Delete.
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" style="display: flex; justify-content: space-between">
      <h2>Activity Details</h2>
      <span>
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="editModal.show()">
          Edit
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" (click)="deleteModal.show()">
          Delete
        </button>
      </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="row">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>ID</td>
                  <td>{{ details?.id }}</td>
                </tr>
                <tr>
                  <td>Activity type</td>
                  <td>
                    {{ returnActivityType(details?.attributes?.ActivityType) }}
                  </td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>
                    {{ dateConverterMin(details?.attributes?.Date) }}
                  </td>
                </tr>
                <tr>
                  <td>Time</td>
                  <td>{{ details?.attributes?.Time }}</td>
                </tr>
                <tr>
                  <td>Village</td>
                  <td>{{ details?.attributes?.village?.data?.attributes?.Name }}</td>
                </tr>
                <tr>
                  <td>City</td>
                  <td>{{ details?.attributes?.area?.data?.attributes?.Name }}</td>
                </tr>
                <tr>
                  <td>LGA</td>
                  <td>{{ details?.attributes?.area?.data?.attributes?.lga?.data?.attributes?.Name }}</td>
                </tr>
                <tr>
                  <td>State</td>
                  <td>{{ details?.attributes?.area?.data?.attributes?.lga?.data?.attributes?.state?.data?.attributes?.Name }}</td>
                </tr>
                <tr>
                  <td>No. of Attendees</td>
                  <td>
                    {{
                    details?.attributes?.NoOfAttendees}}
                  </td>
                </tr>
                <tr>
                  <td>Agronomist Name</td>
                  <td>{{ details?.attributes?.agronomist }}</td>
                </tr>
                <tr>
                  <td>Crop</td>
                  <td>
                    {{ details?.attributes?.crop?.data?.attributes?.Name }}
                  </td>
                </tr>
                <tr>
                  <td>Condition of crop</td>
                  <td>{{ details?.attributes?.ConditionOfCrop }}</td>
                </tr>
                <tr>
                  <td>Planned farm day</td>
                  <td>
                    {{
                    dateConverterMin(details?.attributes?.PlannedFarmDay)
                    }}
                  </td>
                </tr>
                <tr>
                  <td>Body</td>
                  <td>
                    {{details?.attributes?.Reason}}
                  </td>
                </tr>
                <tr>
                  <td>Created at</td>
                  <td>{{ dateConvertor(details?.attributes?.createdAt) }}</td>
                </tr>
                <tr>
                  <td>Last updated</td>
                  <td>{{ dateConvertor(details?.attributes?.updatedAt) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
          aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Edit details</h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="activitiesForm" (ngSubmit)="FormSubmit()">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="ActivityType">Activity Type <span class="danger">*</span></label>
                        <select
                          class="form-control"
                          id="ActivityType"
                          required
                          ngModel
                          name="ActivityType"
                          formControlName="ActivityType"
                        >
                          <option value="" disabled selected hidden>Choose...</option>
                          <option value="FarmDemo">Farm Demo</option>
                          <option value="GroupFarmerTraining">
                            Group Farmer Training
                          </option>
                          <option value="MegaFarmerTraining">
                            Mega Farmer Training
                          </option>
                          <option value="FarmDay">Farm Day</option>
                          <option value="RetailersTraining">Retailers Training</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="state">State <span class="danger">*</span></label>
                        <select
                          class="form-control"
                          id="state"
                          required
                          ngModel
                          name="state"
                          formControlName="state"
                          (change)="filterLGA($event)"
                        >
                          <option value="" disabled selected hidden>
                            Choose...
                          </option>
                          <option *ngFor="let item of States" value="{{ item.id }}">
                            {{ item.attributes.Name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="lga">LGA <span class="danger">*</span></label>
                        <select
                          class="form-control"
                          id="lga"
                          required
                          ngModel
                          name="lga"
                          formControlName="lga"
                          (change)="filterVillage($event)"
                        >
                          <option value="" disabled selected hidden>
                            Choose...
                          </option>
                          <option *ngFor="let item of LGA" value="{{ item.id }}">
                            {{ item.attributes.Name }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="village">Village <span class="danger">*</span></label>
                        <select
                          class="form-control"
                          id="village"
                          required
                          ngModel
                          name="village"
                          formControlName="village"
                        >
                          <option value="" disabled selected hidden>Choose...</option>
                          <option *ngFor="let item of Villages" value="{{ item.id }}">
                            {{ item.attributes.Name }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="NoOfAttendees">Number of attendees</label>
                        <input
                          type="text"
                          class="form-control"
                          id="NoOfAttendees"
                          name="NoOfAttendees"
                          formControlName="NoOfAttendees"
                          placeholder="Enter No. of attendees"
                        />
                      </div>
                      <div class="form-group">
                        <label for="Reason">Body </label>
                        <textarea
                          class="form-control"
                          id="Reason"
                          rows="5"
                          name="Reason"
                          formControlName="Reason"
                          placeholder="Enter body"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="Agronomist">Agronomist name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="Agronomist"
                          name="Agronomist"
                          formControlName="Agronomist"
                          placeholder="Enter name"
                        />
                      </div>
                      <div class="form-group">
                        <label for="crop">Crop <span class="danger">*</span></label>
                        <select
                          class="form-control"
                          id="crop"
                          ngModel
                          name="crop"
                          formControlName="crop"
                        >
                          <option value="" disabled selected hidden>Choose...</option>
                          <option *ngFor="let item of Crops" value="{{ item.id }}">
                            {{ item.attributes.Name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="ConditionOfCrop">Condition of crop</label>
                        <input
                          type="text"
                          class="form-control"
                          id="ConditionOfCrop"
                          name="ConditionOfCrop"
                          formControlName="ConditionOfCrop"
                          placeholder="Enter condition"
                        />
                      </div>
                      <div class="form-group">
                        <label for="PlannedFarmDay">Planned farm day</label>
                        <input
                          type="date"
                          class="form-control"
                          id="PlannedFarmDay"
                          name="PlannedFarmDay"
                          formControlName="PlannedFarmDay"
                          placeholder="Enter Date"
                        />
                      </div>
                      <div class="form-group">
                        <label for="Date">Date <span class="danger">*</span></label>
                        <input
                          type="date"
                          class="form-control"
                          id="Date"
                          name="Date"
                          formControlName="Date"
                          placeholder="Enter Date"
                        />
                      </div>
                      <div class="form-group">
                        <label for="Time">Time</label>
                        <input
                          type="time"
                          class="form-control"
                          id="Time"
                          name="Time"
                          formControlName="Time"
                          placeholder="Enter Time"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="editModal.hide()"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary ml-2"
                    [disabled]="btnLoading || !activitiesForm.valid"
                  >
                    <span
                      *ngIf="btnLoading"
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Save changes
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
