<div class="animated fadeIn">
  <div class="card">
    <div
      class="card-header"
      style="display: flex; justify-content: space-between"
    >
      <h2>Activities</h2>
      <div>
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-toggle="modal"
          (click)="downloadActivitiesModal.show()"
        >
          Download sheets
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-toggle="modal"
          (click)="uploadActivitiesModal.show()"
        >
          Upload sheet
        </button>
        <button
          type="button"
          [disabled]="!disableButton"
          class="btn btn-primary"
          data-toggle="modal"
          (click)="openModal()"
        >
          Add New Activity
        </button>
      </div>
    </div>
    <!-- <p class="text-muted mx-3">
      To approve a crop price simply select and edit the record without
      modifying the data
    </p> -->
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <ag-grid-angular
            #agGrid
            style="width: 100%; height: 65vh"
            id="myGrid"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            animateRows="true"
          >
          </ag-grid-angular>
          <span class="float-left mt-3"
            >{{ from }} to {{ to }} of {{ meta?.pagination?.total }}</span
          >
          <button
            type="button"
            [disabled]="disableNextButton"
            class="btn btn-primary float-right m-2"
            (click)="loadNext()"
          >
            Next
          </button>
          <span class="float-right mt-3"
            >Page {{ meta?.pagination?.page }} of
            {{ meta?.pagination?.pageCount }}</span
          >
          <button
            type="button"
            [disabled]="disablePrevButton"
            class="btn btn-primary float-right m-2"
            (click)="loadPrev()"
          >
            Prev
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #activitiesModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Activity</h4>
        <button
          type="button"
          class="close"
          (click)="activitiesModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="activitiesForm" (ngSubmit)="activitiesSubmit()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="ActivityType"
                  >Activity Type <span class="danger">*</span></label
                >
                <select
                  class="form-control"
                  id="ActivityType"
                  required
                  ngModel
                  name="ActivityType"
                  formControlName="ActivityType"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option value="FarmDemo">Farm Demo</option>
                  <option value="GroupFarmerTraining">
                    Group Farmer Training
                  </option>
                  <option value="MegaFarmerTraining">
                    Mega Farmer Training
                  </option>
                  <option value="FarmDay">Farm Day</option>
                  <option value="RetailersTraining">Retailers Training</option>
                </select>
              </div>
              <div class="form-group">
                <label for="state">State <span class="danger">*</span></label>
                <select
                  class="form-control"
                  id="state"
                  required
                  ngModel
                  name="state"
                  formControlName="state"
                  (change)="filterLGA($event)"
                >
                  <option value="" disabled selected hidden>
                    Choose...
                  </option>
                  <option *ngFor="let item of States" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="lga">LGA <span class="danger">*</span></label>
                <select
                  class="form-control"
                  id="lga"
                  required
                  ngModel
                  name="lga"
                  formControlName="lga"
                  (change)="filterVillage($event)"
                >
                  <option value="" disabled selected hidden>
                    Choose...
                  </option>
                  <option *ngFor="let item of LGA" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="village">Village  <span class="danger">*</span></label>
                <select
                  class="form-control"
                  id="village"
                  required
                  ngModel
                  name="village"
                  formControlName="village"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option *ngFor="let item of Villages" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="NoOfAttendees"
                  >Number of attendees</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="NoOfAttendees"
                  name="NoOfAttendees"
                  formControlName="NoOfAttendees"
                  placeholder="Enter no. of attendees"
                />
                <div
                  *ngIf="activitiesForm.value.NoOfAttendees > 999999"
                  class="danger"
                >
                  Maximum 9999999
                </div>
              </div>
              <div class="form-group">
                <label for="Reason">Body</label>
                <textarea
                  class="form-control"
                  id="Reason"
                  rows="5"
                  name="Reason"
                  formControlName="Reason"
                  placeholder="Enter body"
                ></textarea>
              </div>
            </div>
            <div class="col">

              <div class="form-group">
                <label for="Agronomist">Agronomist name</label>
                <input
                  type="text"
                  class="form-control"
                  id="Agronomist"
                  name="Agronomist"
                  formControlName="Agronomist"
                  placeholder="Enter name"
                />
                <div
                  *ngIf="
                    checkSpecialCharacters(activitiesForm.value.Agronomist)
                  "
                  class="danger"
                >
                  Special characters not permitted
                </div>
              </div>
              <div class="form-group">
                <label for="crop">Crop <span class="danger">*</span></label>
                <select
                  class="form-control"
                  id="crop"
                  ngModel
                  name="crop"
                  formControlName="crop"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option *ngFor="let item of Crops" value="{{ item.id }}">
                    {{ item.attributes.Name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="ConditionOfCrop">Condition of crop</label>
                <select
                  class="form-control"
                  id="ConditionOfCrop"
                  name="ConditionOfCrop"
                  formControlName="ConditionOfCrop"
                >
                  <option value="" disabled selected hidden>Choose...</option>
                  <option value="Good">Good</option>
                  <option value="VeryGood">Very Good</option>
                  <option value="Excellent">Excellent</option>
                </select>
              </div>
              <div class="form-group">
                <label for="PlannedFarmDay">Planned farm day</label>
                <input
                  type="date"
                  class="form-control"
                  id="PlannedFarmDay"
                  name="PlannedFarmDay"
                  formControlName="PlannedFarmDay"
                  placeholder="Enter Date"
                />
              </div>
              <div class="form-group">
                <label for="Date">Date <span class="danger">*</span></label>
                <input
                  type="date"
                  class="form-control"
                  id="Date"
                  name="Date"
                  formControlName="Date"
                  placeholder="Enter Date"
                />
              </div>
              <div class="form-group">
                <label for="Time">Time</label>
                <input
                  type="time"
                  class="form-control"
                  id="Time"
                  name="Time"
                  formControlName="Time"
                  placeholder="Enter Time"
                />
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="activitiesModal.hide()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary ml-2"
            [disabled]="btnLoading || !activitiesForm.valid"
          >
            <span
              *ngIf="btnLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Save changes
          </button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div
  bsModal
  #downloadActivitiesModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Download Activity</h4>
        <button
          type="button"
          class="close"
          (click)="downloadActivitiesModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="downloadExcelForm" (ngSubmit)="downloadActivities()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="fromDate">From<span class="danger">*</span></label>
                <input
                  type="date"
                  class="form-control"
                  id="fromDate"
                  required
                  ngModel
                  name="fromDate"
                  formControlName="fromDate"
                />
              </div>
              <div class="form-group">
                <label for="toDate">From<span class="danger">*</span></label>
                <input
                  type="date"
                  class="form-control"
                  id="toDate"
                  required
                  ngModel
                  name="toDate"
                  formControlName="toDate"
                />
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="downloadActivitiesModal.hide()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary ml-2"
            [disabled]="btnLoading || !downloadExcelForm.valid"
          >
            <span
              *ngIf="btnLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Download
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #uploadActivitiesModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Activities</h4>
        <button
          type="button"
          class="close"
          (click)="uploadActivitiesModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="uploadExcelForm" (ngSubmit)="uploadActivities()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Excel file</label>
                <input
                  type="file"
                  class="form-control"
                  id="File"
                  accept=".xlsx"
                  name="File"
                  (change)="onChange($event)"
                  formControlName="File"
                  placeholder="Choose file"
                />
              </div>
            </div>
          </div>
          <div class="row template-download">
            <a href="/assets/activities_template.xlsx" download="activities_template.xlsx" target="_blank">Download Template</a>
          </div>

          <button
            type="button"
            class="btn btn-secondary"
            (click)="uploadActivitiesModal.hide()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary ml-2"
            [disabled]="btnLoading || !uploadExcelForm.valid"
          >
            <span
              *ngIf="btnLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Upload
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
